@import './styles/footerAndHeader.scss';
@import './styles/logRegForms.scss';
@import './styles/variables/colors.scss';
@import './styles/variables/mixin.scss';
@import './styles/personalPageStyles/WholePageStyles.scss';
@import './styles/personalPageStyles/lightBox.scss';
@import 'styles/admin/loginPage.scss';
@import 'styles/admin/adminPage.scss';

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

body {
    margin: 0;
    color: white;    
    font-family: 'Rubik', sans-serif;    
    a:hover {
        color: $second-color;
    }
    p {
        margin: 0
    }
}

.pointer {
    cursor: pointer
}

.alert-color {
    color: #e53935 !important;
}

